{{define "title"}}About | {{end}}

{{define "main"}}
<section class="stack content about">
    <h1>About me</h1>
    <p>
        I completed both my undergraduate and graduate studies in music, specializing in Voice and Opera. During my
        masters, I started performing with professional ensembles and teaching voice and piano lessons. When the
        pandemic hit five years later, all my gigs were canceled so I started learning web development in my spare time.
        When things opened up again, I went back to performing, but continued coding and started building sites for a
        few clients with my then girlfriend (now wife) who is a designer. I liked coding more than teaching music
        lessons so after getting married, I took a job as a digital content manager for a large WordPress site. A year
        later, I took a position as an application programmer on the enterprise applications team at the same
        organization.
    </p>
    <p>
        My primary skills/responsibilities are in backend application integrations, web development, and Linux system
        administration. At work, I mostly write Python and SQL with a little React thrown in as well. My web projects
        are mostly PHP, JavaScript, and CSS. I split my free time between singing and working on my sysadmin skills in
        my homelab. As a singer, I specialize in choral music and have made two GRAMMY award-winning albums with
        Philadelphia new music ensemble The Crossing.

    </p>
</section>
{{end}}