{{define "title"}}About | {{end}}

{{define "main"}}
<section class="stack">
    <h1>About me</h1>
    <div class="with-sidebar">
        <div class="stack content about">
            <p>
                I am a programmer analyst at North Park University in Chicago. I'm also one half of Mount Prospect Web
                Design, a
                small business that designs and builds web solutions for other small businesses.
            </p>
            <p>
                I got into programming during the pandemic. I learned how to use HTML, CSS, and Javascript to build
                websites
                (like this one) from designs that my wife would create for me in Figma. After about a year, my wife and
                I
                started building custom websites for clients using Wordpress and PHP. I also started digging into React,
                GraphQL, and other and modern Javascript tools around this time.
            </p>
            <p>
                By 2023, I was using tools like Node.js, Typescript, and Prisma, to build JSON APIs. I also began
                learning
                Python and tinkering with Raspberry Pis. I learned about Linux, Docker, and even tried running a k3s
                cluster
                of
                pis on my home network. As my interests shifted to the backend, I started realizing that maybe
                Javascript
                wasn't
                the best for building servers. In 2024, I started learning Go and never looked back.
            </p>
            <p>
                When I'm not programming, I like to sing in vocal ensembles around Chicago and beyond. In 2023, I won a
                GRAMMY
                award as a soloist on the album Born, released by The Crossing, singing the music of Edie Hill. My wife
                and
                I
                are new parents to a beautiful baby girl with whom I am obsessed. We also have an extremely cute Mini
                Australian
                Shepherd. And a cat.
            </p>
        </div>
        <div>
            <img src="/static/img/about.jpg" alt="dominic seated with a drink" width="100%" />
        </div>
    </div>
</section>
{{end}}