{{define "title"}}About | {{end}}

{{define "main"}}
<section class="stack content about">
    <h1>About me</h1>
    <p>
        When I first got into programming, I was focusing on front end web development. My wife, a UI/UX
        designer would create designs for me in Figma and I would write the HTML, CSS, and Javascript. Before
        long, I had completed the University of Helsinki's Full Stack Open program which was focused on building single
        page applications with ReactJS that use REST APIs built with Node.js.

    </p>
    <p>
        After a year or so, my wife and I started building custom Wordpress sites for clients. I learned how to
        build traditional Wordpress themes with PHP as well as custom Gutenberg blocks with React. These
        projects forced me to think a lot more about practical things like content management systems and
        hosting solutions. I started getting more interested in cloud technologies as well as
        non-Javascript-based backends.
    </p>
    <p>
        My main focus now is writing Go and learning cloud native technologies. I first encountered Go in a
        backend web development bootcamp and have since fallen in love with the language and surrounding
        ecosystem. My job in IT has furthered my interest in automation and infrastructure. It's the main reason
        I started building out my homelab and collecting AWS certifications.
    </p>
    <p>
        When I'm not programming, I'm probably hanging out with my wife and my beautiful baby girl
        with whom I am obsessed. I still love singing and I have been fortunate enough to be a part of
        some really incredible ensembles.
    </p>
</section>
{{end}}