{{define "title"}}Home | {{end}}

{{define "main"}}
<section class="stack hero">
	<a href="/">
		<div class="hero-image"></div>
	</a>
	<h1>Dominic German</h1>
	{{template "socials" .}}
</section>
<hr>
<section class="stack content about">
	<p>
		I'm a programmer and singer living in the greater Chicago area.
	</p>
	<p>
		I currently work as an Application Programmer Analyst for Enterprise Applications at North Park University where
		I try my best to <a href="/posts/9">automate things</a>. Most of my free time is spent learning new technologies
		in <a href="https://dominicgerman.com/blog?tag=homelab">my homelab</a> and <a target="_blank"
			href="https://www.google.com/search?q=best+choral+performance+dominic+german">singing choral
			music</a>.
	</p>
	<p>
		Everything on this site is being served from a <a href="/posts/4">custom Go application</a> running on a
		Raspberry Pi in my basement.
		Caddy is used to automatically manage TLS certificates and act as as a reverse proxy. I use Ansible to manage
		the server and make deployments.
	</p>
</section>
{{end}}
