{{define "title"}}Home | {{end}}

{{define "main"}}
<section class="stack hero">
	<a href="/">
		<div class="hero-image"></div>
	</a>
	<h1>Dominic German</h1>
	{{template "socials" .}}
</section>
<hr>
<section class="stack content about">
	<p>
		I'm a software developer and singer living in the greater Chicago area.
	</p>
	<p>
		I currently work as an Application Programmer Analyst for Enterprise Applications at North Park University. In
		my free time, I like <a href="#backend-projects">writing Go</a>, learning new tech in <a
			href="https://blog.dominicgerman.com/posts?tag=homelab" target="_blank">my homelab</a>, and <a
			href="https://www.google.com/search?q=best+choral+performance+dominic+german" target="_blank">singing choral
			music</a>.
	</p>
	<p>
		<a href="/about">Learn more</a>.
	</p>
</section>
{{end}}