{{define "title"}}Projects | {{end}}

{{define "main"}}
<section class="stack projects" id="projects">
    <h1>Projects</h1>
    <ul class="stack">
        <li>
            <img src="/static/img/sveltelogo.png" width="212" height="211" class="" />
            <div class="stack">
                <h2><a href="https://mountprospectwebdesign.com" target="_blank">Mount Prospect Web Design</a></h2>
                <p>
                    The marketing website for the small business I run with my wife where we build custom websites for 
					clients. I built this site with Svelte, Tailwind CSS, and Cloudflare Pages.
                </p>
                <div>
                    <a href="https://github.com/dominicgerman/koda-designs-v2" target="_blank">
                        <button>Source code</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <img src="/static/img/react.png" width="212" height="211" />
            <div class="stack">
                <h2><a href="https://daphnesbar.com" target="_blank">Daphne's Home Bar</a></h2>
                <p>
                    A cocktail web app I built with React, Node.js, and MongoDB. This came in handy when bars were
                    closed
                    during the pandemic and I had a lot of friends coming over for drinks.
                </p>
                <div>
                    <a href="https://github.com//dominicgerman/daphnes_fullstack" target="_blank">
                        <button>Source code</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <img src="/static/img/php.png" width="212" height="211" class="" />
            <div class="stack">
                <h2><a href="https://npcovenant.org" target="_blank">North Park Covenant Church</a></h2>
                <p>
                    A custom Wordpress theme I built for a local church where I used to work. My wife and I worked
					closely with church leadership to rethink the site's design and improve it's functionality. Then
					she created the designs in Figma and I brought them to life in code.
                </p>
                <div>
                    <a href="https://github.com/dominicgerman/npcc-theme" target="_blank">
                        <button>Source code</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <img src="/static/img/go.png" width="212" height="211" />
            <div class="stack">
                <h2>Portfolio/Blog (this site)</h2>
                <p>
                    A custom Go application I self-host on a Raspberry Pi in my basement. I use Caddy as a reverse proxy
                    and Ansible to manage deployments.
                </p>
                <div>
                    <a href="/posts/4">
                        <button>Read more</button>
                    </a>
                    <a href="https://github.com/dominicgerman/dominicgerman.com" target="_blank">
                        <button>Source code</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <img src="/static/img/tux.png" width="212" height="211" class="" />
            <div class="stack">
                <h2><a href="/blog?tag=homelab" target="_blank">Homelab</a></h2>
                <p>
                    My playground for hands-on learning of new technologies as well as self-hosting a few useful
                    services. I can build things without breaking the bank and break things without bringing down
                    production.
                </p>
                <div>
                    <a href="/blog?tag=homelab" target="_blank">
                        <button>Read more</button>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</section>
{{end}}
