{{define "title"}}Projects | {{end}}

{{define "main"}}
<section class="stack projects" id="projects">
    <h1>Projects</h1>
    <ul class="stack">
        <li>
            <img src="/static/img/icons8-python-240.png" width="212" height="211" class="" />
            <div class="stack">
                <h2><a href="/posts/9">ETL Pipeline</a></h2>
                <p>
                    A Python script for streamlining students' registration process at the university where I work.
                </p>
                <div>
                    <a href="/posts/9">
                        <button>Read more</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <img src="/static/img/albert-stoynov-dyUp7WPu5q4-unsplash.jpg" width="212" height="211" class="" />
            <div class="stack">
                <h2><a href="/blog?tag=homelab" target="_blank">Homelab</a></h2>
                <p>
                    My playground for hands-on learning of new technologies as well as self-hosting a few useful
                    services. I can build things without breaking the bank and break things without bringing down
                    production.
                </p>
                <div>
                    <a href="/blog?tag=homelab" target="_blank">
                        <button>Read more</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <img src="/static/img/dom_mirror_small.jpg" width="212" height="211" />
            <div class="stack">
                <h2>Portfolio/Blog (this site)</h2>
                <p>
                    A custom Go application I self-host on a Raspberry Pi in my basement. I use Caddy as a reverse proxy
                    and Ansible to manage deployments.
                </p>
                <div>
                    <a href="/posts/4">
                        <button>Read more</button>
                    </a>
                    <a href="https://github.com/dominicgerman/dominicgerman.com" target="_blank">
                        <button>Source code</button>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <img src="/static/img/daphnes_thumbnail.jpg" width="212" height="211" />
            <div class="stack">
                <h2><a href="https://daphnesbar.com" target="_blank">Daphne's Home Bar</a></h2>
                <p>
                    A cocktail web app I built with React, Node.js, and MongoDB. This came in handy when bars were
                    closed
                    during the pandemic and I had a lot of friends coming over for drinks.
                </p>
                <div>
                    <a href="https://github.com//dominicgerman/daphnes_fullstack" target="_blank">
                        <button>Source code</button>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</section>
{{end}}
